<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <div class="header">
    <nav class="header_top">
      <div class="header_menu">
        <div class="header_menu_icon" routerLink="/">
          
          <mat-icon>menu</mat-icon>
  
        </div>
        <!-- <div class="logo">
          <span><i class="fab fa-speakap"></i></span>
          <span>Shopay</span>
        </div> -->
        <!-- <span><i class="fab fa-speakap"></i></span> -->
        <img routerLink="/" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSikxQTwSBjliBQFTN347h3_05yYYGJ0IV-wA&usqp=CAU" alt="">
        <div class="header_menu_searchbar">
          <input type="text" placeholder="Search for Apparel,Footwear and more" class="header_menu_input">
          <div class="header_menu_searchbar_icon">
            <mat-icon>search</mat-icon>
          </div>
        </div>
        <div routerLink="/shop" class="header_menu_shop">
          <span class="header_menu_bottom_item">Shopping</span>
        </div>
        <ng-container *ngIf="(currentUser$ | async)== null">
          <div routerLink="/login" class="header_menu_signin">
            <span class="header_menu_top_item">Hello,Sign In</span>
            <span class="header_menu_bottom_item">Accounts</span>
          </div>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
          <div class="dropdown ml-3 mr-5" dropdown>
            <a class="dropdown-toggle" style="cursor:pointer" dropdownToggle>
              <strong>Welcome {{(currentUser$ | async).displayName}}</strong> 
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="cursor:pointer;" *dropdownMenu>
              <a routerLink="/checkout " class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-shopping-cart mr-3"></i>View Basket
              </a>
              <a routerLink="/checkout" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-history mr-3"></i>View Orders
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
                <i class="fa fa-sign-out mr-3"></i>Logout
              </a>
            </div>
          </div>
          
        </ng-container>
        <div routerLink="/login" class="header_menu_signin">
          <span class="heade6r_menu_top_item">Returns</span>
          <span class="header_menu_bottom_item">& Orders</span>
        </div>
        <div routerLink="/checkout" class="header_menu_cart">
          <mat-icon>shopping_cart</mat-icon>
          <p class="header_cart_number">{{shoppingCart.getCartLength()}}</p>
        </div>

      </div>
    </nav>
    <nav class="header_bottom">
  
    </nav>
  </div>