<p>product-item works!</p>
<!-- <div class="products">
    <div class="product" *ngFor="let item of products">
        <mat-card>
            <p>{{item.name}}</p>
            
            <p>Rs. <strong>{{item.price}}</strong></p>
            <img src={{item.pictureUrl}}>
            <button >Add To Cart</button>
        </mat-card>
    </div>
</div> -->
<div class="card h-100 shadow-sm">

    <!-- <img src="{{products.pictureUrl}}" alt="{{products.name}} " class="img-fluid"> -->
    
    
    
    <!--<img src="/assets/images/logo.jpg" alt="{{product.name}} " class="img-fluid">-->
    <div class="card-body d-flex flex-column">
    
    <a href="#">
    
    <!--<h6 class="text-uppercase">{{products.name}}</h6>-->
    
    </a>
    
    <!--<span class="mb-2">{{products.id | currency}}</span>-->
    
    <!-- <span class="mb-2">{{products.price | currency}}</span> -->
    
    
    
    
    <div class="btn-group mt-auto">
    
    <button type="button" class="btn btn-sm btn-outline-secondary fa fa-shopping-cart mr-2" style="margin-left: 40px; margin-right: 40px"></button>
    
    <button type="button" class="btn btn-sm btn-outline-secondary mr-3 p-2" style="margin-left: 40px; margin-right: 40px;">View</button>
    
    </div>
    
    <small class="text-muted">9 mins</small>
    
    
    
    </div>
    
    </div>